html.title-page body { background-image: linear-gradient(rgba(0, 0, 0, 0.83), rgba(229, 204, 204, 0.13)), url("57d8627c020e6c91cf997350d13925c1.jpeg"); }
html.title-page .block-17 { background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.94)), url("45767dec09cf87b43b6143285d5af33f.jpeg"); }
html.title-page .search-45 input { border-top-color: rgba(250, 185, 24, 0.85); }
html.title-page .search-45 input { border-right-color: rgba(250, 185, 24, 0.85); }
html.title-page .search-45 input { border-bottom-color: rgba(250, 185, 24, 0.85); }
html.title-page .search-45 input { border-left-color: rgba(250, 185, 24, 0.85); }
html.title-page .search-45 input { color: rgb(255, 255, 255); }
html.title-page .search-45 input:hover { border-top-color: rgb(250, 185, 24); }
html.title-page .search-45 input:hover { border-right-color: rgb(250, 185, 24); }
html.title-page .search-45 input:hover { border-bottom-color: rgb(250, 185, 24); }
html.title-page .search-45 input:hover { border-left-color: rgb(250, 185, 24); }
html.title-page .block-20 { background-color: rgba(0, 0, 0, 0.2); }
html.title-page .block-13 { background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.12)), url("6404ff1acafe5a49cb19464fc32b4eda.jpeg"); }
html.title-page .widget-19 { background-image: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87)), url("1780c9fb682abe68f0cccfd55bbd1631.jpeg"); }
html.title-page .form-33 .form__header { color: rgb(250, 185, 24); }
html.title-page .form-33 .form__header:hover { color: rgb(152, 243, 35); }
html.title-page .form-33 .form-submit button { background-color: rgb(250, 185, 24); }
html.title-page .form-33 .form-submit button:hover { background-color: rgb(152, 243, 35); }
html.title-page .form-33 .form-submit button:hover { color: rgb(250, 40, 24); }
html.title-page .form-33 .form-submit button:hover { box-shadow: rgb(152, 243, 35) 0px 4px 24px; }
html.title-page .horizontal_blocklist-32 .more > a { border-top-color: rgb(250, 214, 78); }
html.title-page .horizontal_blocklist-32 .more > a { border-right-color: rgb(250, 214, 78); }
html.title-page .horizontal_blocklist-32 .more > a { border-bottom-color: rgb(250, 214, 78); }
html.title-page .horizontal_blocklist-32 .more > a { border-left-color: rgb(250, 214, 78); }
html.title-page .horizontal_blocklist-32 .more > a:hover { background-color: rgb(250, 185, 24); }
html.title-page .block-10 { background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.86)), url("1780c9fb682abe68f0cccfd55bbd1631.jpeg"); }
html.title-page .widget-10:hover { color: rgb(0, 0, 0); }
html.title-page .widget-10:hover { background-color: rgb(152, 243, 35); }
html.title-page .widget-10:hover { box-shadow: rgb(250, 214, 78) 0px 4px 24px; }
html.title-page .menu-4 .menu-scroll > ul > li.menu-item > a:hover { color: rgb(250, 185, 24); }
html.title-page .menu-4 .menu-scroll > ul > li.menu-item > a:hover { box-shadow: rgb(250, 214, 78) 0px 0px 0px; }
html.title-page .tabs-52 > ul li { background-color: rgb(250, 214, 78); }
html.title-page .tabs-52 > ul li:hover { background-color: rgb(250, 185, 24); }
html.title-page .tabs-52 > ul li.active { background-color: rgb(250, 185, 24); }
html.title-page .tabs-52 > ul li:active { background-color: rgb(250, 185, 24); }
html.title-page .blocklist-54 .image { background-color: rgb(250, 185, 24); }
html.title-page .block-2 { background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("9fa5123a13812bf31699b865b5b8fed2.jpeg"); }
html.title-page .widget-13 { color: rgb(255, 255, 255); }
html #onicon .onicon-bookmark .onicon-button__title { background-color: rgb(250, 185, 24); }
